body {
  background: #003b4b;
}
.App {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h1{
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
  color: whitesmoke
}
h4 {
  background: whitesmoke;
  width: 190px;
  color: #003b4b;;
}